<hr>
<div class="container">
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Code Fellows 2013</p>
      </div>
    </div>
  </footer>
</div> <!-- /.container -->
